* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background: #f8f8f8;
  // color: #29292e;
  font: 400 18px 'Maven Pro', sans-serif;
  background-image: url("../assets/images/white-backgroud.png");

}

